@import "variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// ----------- HEADER ----------

$bar-fadeout-dur: .2s;

header {
  width: 100%;
  height: 80px;
  top: 0;
  background: $bg-dark;
  position: fixed;
  box-shadow: 0 2px 2px #97a3a5;
  user-select: none;
  z-index: 10;

  #logo-big {
    background-image: url('../img/flowshare-wide.png');
    background-size: cover;
    position: relative;
    left: 50px;
    height: 70px;
    width: 305px;
    margin: 5px;
    float: left;
    transition: $bar-fadeout-dur;
  }

  // ----- SEARCH BOX -----

  #search-box {
    position: absolute;
    top: 19px;
    right: 200px;
    left: unset;
    background-color: inherit;
    border: 1px solid #2d3436;
    border-radius: 20px;
    transition: .4s;
  }

  #search-btn {
    color: $theme-color;
    float: right;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    cursor: pointer;
  }

  #search-txt {
    position: relative;
    left: 15px;
    width: 230px;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    transition: .4s;
    line-height: 40px;
    user-select: unset;
  }

  #search-results {
    display: none;
    position: relative;
    width: calc(100% - 16px);
    height: auto;
    padding: 0;

    &.search-padding {
      padding: 8px;
    }
  }

  &.search-expand {
    #search-results {
      display: block;
    }
  }
}

#search-results .result {
  position: relative;
  width: 100%;
  height: 25px;
  font-size: 18px;
  opacity: .9;
  margin: 10px 0;
  cursor: pointer;
}

// ----- ACCOUNT / HOME BUTTON -----

header {

  #header-account, #header-home {
    position: relative;
    right: 50px;
    float: right;
    height: 60px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    transition: $bar-fadeout-dur;

    i {
      font-size: 40px;
    }

    &:link, &:visited {
      color: #2d3436;
      text-decoration: none;
    }

  }

  #header-account-popup {
    position: absolute;
    height: fit-content;
    width: fit-content;
    width: -moz-fit-content;
    top: 95px;
    right: 60px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: $bg-dark;
    box-shadow: 0 0 2px 2px #b9b9b9;
    border-radius: 10px;
    cursor: pointer;
    display: none;

    &:before {
      content: "";
      position: absolute;
      top: -5px;
      right: 10px;
      width: 18px;
      height: 18px;
      background-color: inherit;
      transform: rotate(45deg);
    }

  }

}

// ----- MOBILE RESPONSIBILITY -----

@media all and (max-width: 900px) {

  header {

    #logo-big {
      left: 10px;
    }

    #search-box {
      right: 120px;
    }

    #header-account, #header-home {
      right: 10px;
    }

    #header-account-popup {
      right: 20px;
    }

  }

}

@media all and (max-width: 750px) {

  header {

    #search-txt {
      width: 0;
    }

    &.search-expand { // Manage search bar expansion

      #logo-big, #header-account {
        opacity: 0;
      }

      #search-box {
        width: 280px;
        right: calc((100% - 280px) / 2);
      }

      #search-txt {
        width: 230px;
      }
    }
  }

}

@media all and (max-width: 520px) {

  header {
    height: 60px;

    #logo-big {
      background-image: url('../img/flowshare-square.png');
      width: 50px;
      height: 50px;
      left: 20px;
    }

    #search-box {
      top: 9px;
    }

    #header-account, #header-home {
      height: 50px;
      margin: 5px 10px;
      font-size: 16px;
      line-height: 16px;

      i {
        font-size: 35px;
      }

    }

    #header-account-popup {
      top: 75px;
      font-size: 16px;
    }

  }

}


// ---------- NAV ----------


nav {
  position: fixed;
  top: 144px;
  left: 5%;
  height: 310px;
  width: 350px;
  background-color: $bg-dark;
  box-shadow: 0 0 1px 1px #97a3a5;
  transition: .4s;
  overflow: hidden;

  .title {
    position: relative;
    height: 35px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
  }

  #nav-arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    transition: .4s;
    display: none;

    &.active {
      transform: rotate(-0.5turn);
    }
  }
}


// ---------- POPUP ----------

#screen-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  pointer-events: none;
  z-index: -1;
  transition: .3s;

  &.active {
    background: rgba(33, 33, 33, 0.51);
    pointer-events: all;
    z-index: 15;
  }
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  background: $bg-light;
  box-shadow: 0 0 2px 2px #97a3a5;
  border-radius: 5px;
  text-align: center;
  pointer-events: all;
  z-index: 16;
  transition: .3s;

  @media (max-width: 500px) {
    width: 90%
  }

  .popup-title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .popup-button {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    border: 1px solid $theme-color;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $theme-color;
    }
  }
}
